.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.save-button {
    width: 50%;
    margin: 0 auto;
}

.input-box {
    padding: 5px;
}

.textarea-height {
    height: 100px;
}

.form-class {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.save-z-index {
    z-index: 100;
}